# 3-which gender has  gotten most stops?

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [3]:
df = pd.read_csv("E:/Education/Auburn/2018-Fall/Info-Jeff/project/Traffic_Violations.csv")

In [4]:
df2=df[['Gender']]
df2.head(15)

   Gender
0       M
1       M
2       M
3       M
4       M
5       M
6       M
7       M
8       F
9       M
10      M
11      M
12      M
13      M
14      M

In [5]:
df4=df2[df2.loc[0:]=='M'].count()/df2.count()
df4

Gender    0.67328
dtype: float64

In [6]:
df5=df2[df2.loc[0:]=='F'].count()/df2.count()
df5

Gender    0.32572
dtype: float64

In [1]:
import matplotlib.pyplot as plt

# Pie chart, where the slices will be ordered and plotted counter-clockwise:
labels = 'Male', 'Female'
sizes = [df4, df5]
explode = (0, 0.1)  

fig1, ax1 = plt.subplots()
ax1.pie(sizes, explode=explode, labels=labels, autopct='%1.1f%%',
        shadow=True, startangle=90)
ax1.axis('equal')  # Equal aspect ratio ensures that pie is drawn as a circle
ax1.set_title('Relationship between Gender and Violation')


plt.show()

NameError: name 'df4' is not defined

# Conclusion

we can see that number of stops which men get, is more than twice the number of stops which women get. Also, we know in 2018
the ratio of female in US is 49% and for men this number is 51%(www.statista.com). Moreover approximatly we have same ratios for 2012-2017. So based on our results and these ratios we can make conclusion that women care about rules more than men.